.nav-bar{
    border: 2px solid rgb(83, 80, 80);
    width: 500px;
    margin: 40px 0 0 400px;
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    background-color: rgb(10, 9, 9)
    

    
    
    
}
.button{
    background-color: red;
    padding: 4px 10px;
    font-size:15px;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 200px;
}
.nav-option{
    color:white
    font-size: 18px;
    margin-left: 20px;

}
.content head-bar{
    border: 2px dashed black;
    width:400px;
    height: 200px;
    margin-left: 480px;
    margin-top: 200px;
    background: linear-gradient(to right,red,blue,yellow )

    
}